body {
    background-color: aliceblue;
    color: rgb(2, 2, 2);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
    list-style-type: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #1768e6;
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid #1768e6;
    padding: 10px;
    border-radius: 15px;    
}


#inscreva-se-btn:hover {
    background: #1768e6;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px rgba(43, 69, 216, 0.445);
}
 
h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color:#1768e6
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 450px;
}

.btn {
    width: 150px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn:hover {
    background: #1768e6;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px rgba(43, 69, 216, 0.445);
}

/* CARDS */
main.cards {
    display: flex;
    padding: 32px;   
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;

}
main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}
 
main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}
